.main {
    @include flex;
    @include flex-direction-column;
    @include flex-justify-content-center;
    @include flex-align-items(center);
    @include flex-grow(1);
     h2 {
        font-size: $main-h2;
        font-weight: bold;
        margin-bottom: 40px;
     }
}
.about {
    @include flex;
    @include flex-direction-column;
      @include wide{
            max-width: $max-width;
            margin: 0 auto;
            @include flex-direction-row;
            @include flex-justify-content-center;
       }
}

.photo-pro {
    border: 5px solid $mine-shaft;
    @include size(188px, 179px);
    @extend %round;
}
.pro {
    margin: 0 auto 40px;
    @include size(188px, 179px);
       @include wide{
          margin: 0 40px 0 0;
    }    
}

.text {
    @include wide{
        width: 50%;
    }    
 }

