//FONTS
$roboto-font-stack: 'Roboto', sans-serif;
$raleway-font-stack: 'Raleway', sans-serif;

//COLORS 

$lightning-yellow: #FFBE12;
$mine-shaft: #2C2C2C;
$tara: #EFFBF2;
$white: #FFF;
$sun: #F8AD0E;

//MEDIA QUERIES
$break-narrow: 768px;
$break-wide:   1024px;


//PATHS
$path-img: '../images';


//Sizes 
$max-width: 1280px;
$cont-width: 90%;